
.dashboard-sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 1;
    padding: 30px 0 15px 0;
    background-color: #f8f8f8;
}
.dashboard-sidebar .profile-top {
    padding: 0 16px;
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.dashboard-sidebar .profile-top .profile-image {
    position: relative;
}
.dashboard-sidebar .profile-top .profile-detail {
    text-align: center;
    margin-top: 15px;
}
.dashboard-sidebar .faq-tab .nav-tabs {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.faq-tab .nav-tabs {
    display: block;
    border-bottom: none;
    background-color: white;
    padding: 10px 0;
}
.faq-tab .nav-tabs .nav-item {
    display: block;
    margin-bottom: 0;
    float:none;
    text-transform: capitalize;
    border: 1px solid #eee;
}
.faq-tab .nav-tabs .nav-item a{
    color:#777777 !important;
    margin-right:0px;
    margin-top:0px;
}
.counter-section .counter-box {
    background-color: #f8f8f8;
    padding: 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 3px solid var(--theme-deafult);
    border-radius: 8px;
}
.table th img{
    height:50px;
    width:50px;
    margin:0px !important;
}
.meal .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.table th {
    text-transform: capitalize !important;
}
.table td {
    vertical-align: middle !important;
    text-transform: capitalize !important;
    /* text-align: left !important; */
}

.feeds {
    margin: 0px;
    padding: 0px; 
}
.feeds li {
    list-style: none;
    padding: 10px;
    display: flex; 
    align-items: center;
    border-bottom:1px solid #eee;
}
.feeds li:hover {
    background: rgba(0, 0, 0, 0.02); 
}
.feeds li > div {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%; 
}
.feeds li > div i {
    line-height: 40px; 
}
.feeds li span {
float: right;
width: auto;
font-size: 12px; 
margin-left:auto;
}
  